{% extends "partials/base.html" %}
{% block content %}
<div class="container my-5 text-center">
    <h1 class="thin-font ">{{experimento.name}} </h1>
    <p>{{experimento.description}}</p>
</div>

{% include 'experimento1.html' %}
{% include 'experimento2.html' %}

<!-- STEP 2-->



{% endblock %}

{% block script %}
<script>
    $(function () {
        const $steps = $('.step');
        const $nextBtns = $('.next-step');
        const $prevBtns = $('.prev-step');


        $nextBtns.on('click', function () {
            const $currentStep = $(this).closest('.step');
            const serializedFormData = $currentStep.serialize();
            console.log(serializedFormData);
            const $nextStep = $currentStep.next('.step');

            if (isValidStep($currentStep)) {
                $currentStep.hide();
                $nextStep.show();
            }
        });

        $prevBtns.on('click', function () {
            const $currentStep = $(this).closest('.step');
            const $prevStep = $currentStep.prev('.step');

            $currentStep.hide();
            $prevStep.show();
        });

        function isValidStep($step) {
            // Perform validation here, return true if valid, false if not
            return true;
        }
    });


    // SUBMIT FORM
    $(function () {
        // Quando o formulário de envio for enviado
        $("#my-form").on("submit", function (event) {
            // Impedir o envio do formulário
            event.preventDefault();

            // Obter os dados do formulário
            var data = $(this).serialize();
            // Adicionar o token CSRF aos dados
            data += "&csrfmiddlewaretoken=" + $("[name=csrfmiddlewaretoken]").val();

            // Enviar uma requisição AJAX para enviar os dados
            $.ajax({
                type: "POST",
                url: "{% url 'my-view' %}",
                data: data,
                success: function (response) {
                    // Sucesso! Redirecionar para uma página de confirmação ou algo assim
                    console.log('deu certo!')
                },
                error: function () {
                    // Ocorreu um erro
                    alert("Ocorreu um erro.");
                }
            });
        });
    });

</script>
{% endblock %}
