{% extends "partials/base.html" %}
{% block content %}
<div class="container mx-auto">
    <div class="container my-5 text-center">
        <h1 class="thin-font ">{{experimento.name}} </h1>
        <p>{{experimento.description}}</p>
    </div>
</div>

<form class="form-step container" action="{% url 'experimento4' %}" method="post">
    {% csrf_token %}
    {% for audios in grouped_audios %}
    <div class="row mb-5" data-row-id="{{ forloop.counter0 }}">
        {% for audio in audios %}
        {% if audio.referencia %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Referência</h1>
                    <audio controls class="w-100">
                        <source src="{{ audio.archive.url }}" type="audio/wav">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center">Áudio {{ forloop.counter0 }}</h1>
                    <audio controls class="w-100">
                        <source src="{{ audio.archive.url }}" type="audio/wav">
                        Your browser does not support the audio element.
                    </audio>

                    <div class="d-flex justify-content-center mt-3 align-items-center">
                        <label for="id_avaliacao_{{ audio.id }}" class="me-2">Avaliação:</label>
                        <input type="range" min="0" max="100" value="0" class="form-control-range input-vertical"
                               id="id_avaliacao_{{ audio.id }}" name="id_avaliacao_{{ audio.id }}"
                               oninput="$('#valor_avaliacao_{{ audio.id }}').html($(this).val())">
                        <span id="valor_avaliacao_{{ audio.id }}" class="ms-2"></span>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
    <div class="mt-5 text-center">
        <button type="submit" class="btn btn-danger">Próximo</button>
    </div>
</form>


{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        $('input[type="checkbox"][name="audio_checkbox"]').on('change', function () {
            var checkedValue = $(this).prop('checked');
            var rowId = $(this).data('row-id');
            // Desmarcar outros checkboxes na mesma linha
            $('input[type="checkbox"][name="audio_checkbox"][data-row-id="' + rowId + '"]').not(this).each(function () {
                $(this).prop('checked', false);
            });
            $(this).prop("checked", checkedValue);
        });
    });
</script>
{% endblock %}