{% extends "partials/base.html" %}
{% block content %}
<div class="container mx-auto my-3">
    <div class="container my-5 text-center">
        <h1 class="thin-font ">{{experimento.name}} </h1>
        <p>{{experimento.description}}</p>
    </div>
    <form id="step-1-form" class="form-step" action="{% url 'experimento1' %}" method="POST"
          enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            {% for audios in grouped_audios %}
            {% for audio in audios %}
            <div class="col-3 mb-3">
                <audio controls>
                    <source src="{{ audio.archive.url }}" type="audio/wav">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="col">
                <label for="id_audio_{{ audio.id }}">Avaliação:</label>
                <input type="range" min="0" max="100" value="0" class="form-range" id="id_audio_{{ audio.id }}"
                       name="id_audio_{{ audio.id }}">
                <span id="valor_avaliacao_{{ audio.id }}"></span>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
        <div class="mt-5 container text-center">
            <button type="submit" class="btn btn-danger">Proximo</button>
        </div>
    </form>
</div>
{% endblock %}




